$xs: 5px;
$s: 10px;
$m: 25px;
$l: 40px;
$xl: 70px;
$coral: rgb(247, 109, 97);
$font: "Raleway", sans-serif;
$font-titles: "Galada", cursive;
$nav-width: 220px;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font;
}

.content {
  margin-left: calc(#{$nav-width} + #{$m});
   padding: 0 $xl;
}

nav {
  height: 100vh;
  width: 100%;
  max-width: $nav-width;
  position: fixed;
  top: 0;
  background-color: $coral;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-left: $m;
  color: white;
  font-weight: lighter;

  h2 {
    margin-bottom: $l;
    font-weight: lighter;
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      line-height: 2.5;
      font-size: 18px;
    }
  }
}

.intro {
  h1 {
    font-family: $font-titles;
    font-size: 64px;
    margin-bottom: $s;
  }

  hr {
    border: 6px solid $coral;
    width: 100px;
    border-radius: 15px;
    float: left;
  }

  .home-images {
    display: flex;
    clear: both;
    margin-top: $xl;

    img {
      width: 100%;
    }

    .image-left,
    .images-right {
      width: 45%;
    }

    .images-right {
      margin-left: $s;

      img:first-of-type {
        margin-bottom: $xs;
      }
    }
  }
}

.about {
  margin-top: $xl;

  h1 {
    font-family: $font-titles;
    color: $coral;
    font-size: 50px;
    margin-bottom: 0;
  }

  hr {
    border: 6px solid $coral;
    width: 60px;
    border-radius: 15px;
    float: left;
  }

  &-list {
    line-height: 1.5;
    margin-top: $l;
  }
}
