body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

.content {
  margin-left: calc(220px + 25px);
  padding: 0 70px; }

nav {
  height: 100vh;
  width: 100%;
  max-width: 220px;
  position: fixed;
  top: 0;
  background-color: #f76d61;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-left: 25px;
  color: white;
  font-weight: lighter; }
  nav h2 {
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 24px; }
  nav ul {
    list-style-type: none;
    padding-left: 0; }
    nav ul li {
      line-height: 2.5;
      font-size: 18px; }

.intro h1 {
  font-family: "Galada", cursive;
  font-size: 64px;
  margin-bottom: 10px; }

.intro hr {
  border: 6px solid #f76d61;
  width: 100px;
  border-radius: 15px;
  float: left; }

.intro .home-images {
  display: flex;
  clear: both;
  margin-top: 70px; }
  .intro .home-images img {
    width: 100%; }
  .intro .home-images .image-left,
  .intro .home-images .images-right {
    width: 45%; }
  .intro .home-images .images-right {
    margin-left: 10px; }
    .intro .home-images .images-right img:first-of-type {
      margin-bottom: 5px; }

.about {
  margin-top: 70px; }
  .about h1 {
    font-family: "Galada", cursive;
    color: #f76d61;
    font-size: 50px;
    margin-bottom: 0; }
  .about hr {
    border: 6px solid #f76d61;
    width: 60px;
    border-radius: 15px;
    float: left; }
  .about-list {
    line-height: 1.5;
    margin-top: 40px; }
