body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

.content {
  margin-left: calc(220px + 25px);
  padding: 0 70px; }

nav {
  height: 100vh;
  width: 100%;
  max-width: 220px;
  position: fixed;
  top: 0;
  background-color: #f76d61;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-left: 25px;
  color: white;
  font-weight: lighter; }
  nav h2 {
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 24px; }
  nav ul {
    list-style-type: none;
    padding-left: 0; }
    nav ul li {
      line-height: 2.5;
      font-size: 18px; }
      nav ul li a {
        color: white;
        text-decoration: none; }
        nav ul li a:visited, nav ul li a:active {
          color: white; }
        nav ul li a:hover {
          color: black; }

.top-bar {
  display: none; }
  .top-bar .hamburger-menu {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px; }
    .top-bar .hamburger-menu div {
      width: 30px;
      height: 3px;
      background-color: black;
      margin: 6px 0; }

.intro h1 {
  font-family: "Galada", cursive;
  font-size: 64px;
  margin-bottom: 10px; }

.intro hr {
  border: 6px solid #f76d61;
  width: 100px;
  border-radius: 15px;
  float: left; }

.intro .home-images {
  display: flex;
  clear: both;
  margin-top: 70px; }
  .intro .home-images img {
    width: 100%; }
  .intro .home-images .image-left,
  .intro .home-images .images-right {
    width: 45%; }
  .intro .home-images .images-right {
    margin-left: 10px; }
    .intro .home-images .images-right img:first-of-type {
      margin-bottom: 5px; }

.about {
  margin-top: 70px; }
  .about h1 {
    font-family: "Galada", cursive;
    color: #f76d61;
    font-size: 50px;
    margin-bottom: 0; }
  .about hr {
    border: 6px solid #f76d61;
    width: 60px;
    border-radius: 15px;
    float: left; }
  .about-list {
    line-height: 1.5;
    margin-top: 40px; }

.projects hr {
  border: 6px solid #f76d61;
  width: 60px;
  border-radius: 15px;
  float: left; }

.projects h1 {
  font-family: "Galada", cursive;
  color: #f76d61;
  font-size: 50px;
  margin-bottom: 0; }

.project-boxes {
  display: flex;
  margin-top: 40px; }
  .project-boxes .project-box {
    width: 30%;
    background-color: #f1f1f1;
    margin: 0 10px; }
    .project-boxes .project-box-text {
      padding-left: 25px;
      padding-right: 25px; }
    .project-boxes .project-box .project-links a:active, .project-boxes .project-box .project-links a:visited {
      color: #f76d61; }
    .project-boxes .project-box .project-links a:hover {
      color: black; }
    .project-boxes .project-box .project-links a:first-of-type {
      border-right: 2px solid black;
      padding-right: 10px; }
    .project-boxes .project-box .project-links a:last-of-type {
      padding-left: 5px; }
    .project-boxes .project-box .tiny-blurb {
      color: #a4a4a4; }
    .project-boxes .project-box img {
      width: 100%; }

.contact hr {
  border: 6px solid #f76d61;
  width: 60px;
  border-radius: 15px;
  float: left; }

.contact h1 {
  font-family: "Galada", cursive;
  color: #f76d61;
  font-size: 50px;
  margin-bottom: 0; }

.contact-images {
  margin-top: 40px;
  height: 80px;
  overflow: hidden; }
  .contact-images img {
    width: 100%;
    max-width: 80px; }

footer {
  text-align: center;
  margin-top: 70px;
  font-size: 14px;
  background-color: #f1f1f1;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: -1; }
  footer p {
    position: absolute;
    top: 20%;
    margin-left: calc(220px + 50%);
    -webkit-transform: translateX(calc(-50% - 110px));
            transform: translateX(calc(-50% - 110px)); }

@media only screen and (max-width: 768px) {
  nav {
    display: none; }
  .top-bar {
    display: block;
    height: 60px;
    background-color: #f76d61;
    position: fixed;
    top: 0;
    width: 100%; }
  .content {
    margin-left: 0;
    padding: 0 25px;
    margin-top: 70px; }
  .intro .home-images {
    display: block; }
    .intro .home-images .image-left,
    .intro .home-images .images-right {
      width: 100%; }
    .intro .home-images .images-right {
      margin-left: 0; }
  .project-boxes {
    flex-direction: column; }
    .project-boxes .project-box {
      width: 100%;
      margin: 0 0 25px 0; } }
